[submodule "app/module/user"]
	path = app/module/user
	url = https://github.com/WitteStier/BMC_Module_User.git
[submodule "app/module/admin"]
	path = app/module/admin
	url = https://github.com/WitteStier/BMC_Module_Admin.git
[submodule "app/module/file"]
	path = app/module/file
	url = https://github.com/WitteStier/BMC_Module_File.git
[submodule "app/module/crm"]
	path = app/module/crm
	url = https://github.com/WitteStier/BMC_Module_Crm.git
