body
{
    background: #E5E5E5;
}

.x-border-layout-ct
{

    background-color: #FFFFFF !important;
}

/*******************************************************************************
 * ExtJs toolbar icon color
 ******************************************************************************/
.x-toolbar-default-docked-top .x-btn .x-btn-icon-el
{
    color : #999999;
    font-size: 16px;
}

/*******************************************************************************
 * ExtJs tabbar
 ******************************************************************************/
.x-tab-bar-default .x-tabbar-scroll-left
{
    content: "\f053";
}

.x-tab-bar-default .x-tabbar-scroll-right
{
    content: "\f054";
}

/*******************************************************************************
 * Application navigation
 ******************************************************************************/

#BM-navigation
{
    background-color: #157FCC;
    padding: 0px; 
}

#BM-navigation .x-btn-default-toolbar-medium
{
    border: none;
    background: none;
    min-width: 64px;
    height: 65px;
    /*padding: 0 7px;*/
    color: #89BEE5;
}

#BM-navigation .x-btn-default-toolbar-medium:hover
{
    color: #A5CDEC;
}

#BM-navigation .x-btn-inner
{
    font-size: 10px;
    padding: 38px 0 0 0;
    color: inherit;
}

#BM-navigation .x-btn-icon-el
{
    height: 38px;
    font-size: 40px;
    padding-left: 10px;
}

#BM-navigation .x-btn-arrow-bottom
{
    padding-bottom: 16px;
}

#BM-navigation .BM-navigation-active-module,
#BM-navigation .x-btn-default-toolbar-medium-pressed
{
    background: #1574CC;
    border: #1591CC inset 1px;
    color: #A5CDEC;
}

/*******************************************************************************
 * Application header
 ******************************************************************************/

#BM-workspace-toolbar
{
    background-color: #157FCC;
    padding: 0;
    color: #FFFFFF;
}

#BM-workspace-toolbar .x-tab-bar
{
    top : 5px !important;
    left : 1px !important;
}
#BM-workspace-toolbar .x-tab-bar-strip
{
    display: none;
}
#BM-workspace-toolbar .x-tab-active
{
    background-color: #FFFFFF;
}
#BM-workspace-toolbar .x-tab-active .x-tab-icon-el
{
    color : #157fcc;
}
#BM-workspace-toolbar .x-tab-active .x-tab-close-btn
{
    background-position: -12px 0;
}

#BM-workspace-toolbar-text
{
    /*    color: inherit;
        font-size: 13px;
        font-weight: bold;
        font-family: arial,helvetica,verdana,sans-serif;
        text-transform: none;*/
}

#BM-title-throbber
{}

#BM-title-notification
{}

#BM-workspace-toolbar-avatar
{
    padding: 0;
}
#BM-workspace-toolbar-avatar .x-btn-icon-el
{
    height: 35px;
    width: 35px;
}
#BM-workspace-toolbar-avatar .x-btn-inner
{
    color: inherit;
    padding-left: 37px;
}

#BM-workspace-toolbar-notification,
#BM-workspace-toolbar-avatar
{
    background: none;
    border: none;
    color: inherit;
}

/*******************************************************************************
 * Application footer
 ******************************************************************************/
#BM-PB
{
    background: #157FCC url("/resources/images/application/WS-small.png") no-repeat left;
    padding: 0 3px 0 17px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100000;
}
#BM-PB p
{
    color: #FFFFFF;
    font-size: 10px;
    font-family: arial,helvetica,verdana,sans-serif;
    margin: 0;
}
#BM-PB p a
{
    color: #FFFFFF;
    text-decoration: none;
}

/*******************************************************************************
 * Icon location fix
 ******************************************************************************/
.x-menu-item-icon {
    top: 1px !important;
}

/*******************************************************************************
 * UX
 ******************************************************************************/
.x-action-col-cell img
{
    height: 16px;
    width: 16px;
    cursor: pointer;
}
.x-action-col-img-noaction
{
    cursor: default !important;
}
.x-operator-button
{
    width: 16px;
    height: 16px;
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow:  hidden; /* IE 6 :-( */
    margin-top: 6px;
    background-color: white;
}
.x-operator-button-equal
{
    background-image: url(../images/operator-equal.gif);
}
.x-operator-button-not-equal
{
    background-image: url(../images/operator-not-equal.gif);
}
.x-operator-button-great-than
{
    background-image: url(../images/operator-great-than.gif);
}
.x-operator-button-less-than
{
    background-image: url(../images/operator-less-than.gif);
}
.x-operator-button-great-than-equal
{
    background-image: url(../images/operator-great-than-equal.gif);
}
.x-operator-button-less-than-equal
{
    background-image: url(../images/operator-less-than-equal.gif);
}
.x-grid-header-ct .x-column-filtered .x-column-header-inner .x-column-header-text 
{
    font-weight: bold;
    font-style: italic;
    color: green;
}
.ext-ux-clearbutton
{
    width: 12px;
    height: 12px;
    background-image: url(../images/clear-text-icon.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore; /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow:  hidden; /* IE 6 :-( */
    margin-top: 5px;
    background-color: white;
}
.ext-ux-clearbutton-mouse-over-input 
{
    background-position: 0 -12px;
}
.ext-ux-clearbutton-mouse-over-button 
{
    background-position: 0 -24px;
}
.ext-ux-clearbutton-mouse-down 
{
    background-position: 0 -36px;
}
.ext-ux-clearbutton-on 
{
    opacity: 1;
    visibility: visible;
    transition: opacity .35s linear;
    -webkit-transition: opacity .35s linear;
    -moz-transition: opacity .35s linear;
    -o-transition: opacity .35s linear;
    -ms-transition: opacity .35s linear;
    -khtml-transition: opacity .35s linear;
}
.ext-ux-clearbutton-off 
{
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s linear, visibility .0s linear .35s;
    -webkit-transition: opacity .35s linear, visibility .0s linear .35s;
    -moz-transition: opacity .35s linear, visibility .0s linear .35s;
    -o-transition: opacity .35s linear, visibility .0s linear .35s;
    -ms-transition: opacity .35s linear, visibility .0s linear .35s;
    -khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}

